<a href="/">
    <h1>LOGO</h1>
</a>

<form method ="GET" action="{% url 'home' %}">
    <input type="text" name="q" placeholder = "Serach...">
</form>

{% if request.user.is_authenticated %}
<p>You are logged as @{{request.user.username}}</p>
<a href="{% url 'logout' %}">Logout</a>
<a href="{% url 'update-user' %}">Update user</a> 
<div class="avatar avatar--medium active">
    <img src="{{request.user.avatar.url}}" />
</div></a>
{% else %}
<a href="{% url 'login' %}">Login</a>

{% endif %}
<hr>
