{% extends 'main.html' %}

{% block content %}
<div class="form-container article-form">
    <form class = "wide-form" method="post">
        {% csrf_token %}
        {{ form.media }}
        {{ form.as_p }}
        <button type="Submit">Save</button>
        <button type="Submit" name="publish_button">Publish</button>
    </form>
</div>
{% endblock content %}

<!-- <div class="form-container">
    <form method="POST" action="" enctype="multipart/form-data">
        {% csrf_token %}
        {{form.as_p}}
        <input type="submit" value="Submit" />
    </form>
</div> -->