{% extends 'main.html' %}

{% block content %}




     <div class = 'home-container'>
        {% if request.user.is_author%}
        <div class="action-buttons">
            <div class="dropdown">
                <button class="dropbtn"><a href="{% url 'home' %}?q={{request.user.username}}">My articles</a></button>
                <div class="dropdown-content">
                    <a href="{% url 'home' %}?q={{request.user.username}}&status=True">Published</a>
                    <a href="{% url 'home' %}?q={{request.user.username}}&status=False">Saved</a>
                </div>
            </div>
            <div class="create-button">
            <a href="{% url 'create-article' %}">Create an article</a>
            </div>
        </div>
        {% endif %}
        <div class="blog-container">
            {% for article in articles %}
            <article class="blog-post">
                {% if article.is_published or request.user == article.author %}
                <img src="{{article.image.url}}" alt="Article Image">
                <div class="post-content">
                    <h2 class="post-title"><a href="{% url 'article' article.id %}">{{article.title}}</a></h2>
                    <p class="post-description">{{article.description}}.</p>
                    <p class="post-meta">Author: @{{ article.author.username }} | Date: {{article.created}}</p>
                </div>
                {% if request.user == article.author%}
                <div>
                    <a href="{% url 'edit-article' article.id %}" class="article-buttons">Edit</a>
                    <a href="{% url 'delete-article' article.id %}" class="article-buttons">Delete</a>
                </div>
                {% endif %}
                {% endif %}
            </article>
            {% endfor %}
        </div>

    </div>


{% endblock content %}