{% extends 'main.html' %}

{% block content %}
      <div class="form-container">
        <form class="form" action="" method="POST" enctype="multipart/form-data">
          {% csrf_token %}

          {% for field in form %}
          <div class="form__group">
            <label for="profile_pic">{{field.label}}</label>
            {{field}}
          </div>
          {% endfor %}


          <div>
            <button type="submit">Update</button>
          </div>
        </form>
      </div>
{% endblock content %}